/* ~~~~~~~~~~~~~~~~ CSS resets ~~~~~~~~~~~~~~~~~ */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.75em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}
/* ~~~~~~~~~~~~~~~~ End resets ~~~~~~~~~~~~~~~~~ */

/*****************/
/* HTML ELEMENTS */
/*****************/
html {
	background-image: url("../img/prettyMeadow.png");
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: 100%;
	height:100%;
}
*/

body {
	font-family: 'Raleway', sans-serif;
	height: 100%;
}


.container {
	min-height: 100%;
}

h1, h2, h3 {
	font-family: 'Lato', sans-serif;
	margin-left: 15%;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

form {
	font: 'Raleway', sans-serif;
}

label{
	 display: block;
	 float: left;
	 width: 6em;
}

footer {
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid;
	width: 100%;
	text-align: center;
}

.error {
	margin-top: 4em;
	width: 100%;
	background-color: red;
	opacity:0.75;
	text-align:center;
	color:white;
	font-size:20px;
	padding:1em;
}

/******************/
/* GENERAL STYLES */
/******************/
.lightBackgroundBox {
	background-color: rgba(250,250,250,0.75);
	border-radius: 0.5em;
	padding: 1em;
	margin-top: 2em;
}

.roundedBackgroundBox {
	border-radius: 2em;
	margin-top: 2em;
}

.divCenter {
	width:70%;
	margin: 0 auto;
}

input::-webkit-input-placeholder {
    color: #626262;
}

/**********************/
/* REGISTRATION TYPES */
/**********************/
#registrationtypes {
	width:80%;
	margin-left: auto;
	margin-right: auto;
}

#registrationtypes div {
	float:left;
	text-align:center;
	width:30%;
	background-color: rgb(186, 224, 237);
}

#registrationtypes div img {
	width:80%;
	display:inline;
}

#registrationtypes div a {
	text-decoration: none;
}

#registrationtypes div:hover {
	background-color: rgba(53,160,203,0.7);
}

#registrationtypes :not(:last-child) {
	margin-right:2%;
}

/**************/
/* USER FORMS */
/**************/
#registerForm {
	padding-top:8%;
	max-width:40%;
	min-width:40%;
}

#logInForm {
	padding-top:12%;
	max-width:30%;
	min-width:30%;
}

.userForm{
	margin: 0 auto;
	z-index: 1;
	width:42%;
}

.userForm input[type=text], .userForm input[type=password]{
	width:90%;
	height:2em;
	border:none;
	text-indent: 0.3em;
}

.userForm input[type=text]:nth-of-type(odd), .userform input[type=password]:nth-of-type(odd){
	border-bottom: 0.1em solid gray;
}

.userForm input[type=text]:nth-of-type(even), .userform input[type=password]:nth-of-type(even), .userform input[type=radio]{
	margin-bottom:0.4em;
}

.userForm input[type=submit] {
	border: none;
	border-radius:0.3em;
	height:2em;
    padding: 2px 8px;
    width:90%;
    background-color:rgb(53,160,203);
}

.userForm input[type=submit]:hover {
    background-color:rgba(53,160,203,0.7);
}


.userForm .usernameRadio{
	text-align: center;
	position:absolute;
}

/***********************/
/* Reset Password Form */
/***********************/

#changePasswordForm {
	padding-top:10%;
	max-width:30%;
	min-width:30%;
}

.resetpassForm{
	text-align: center;
	margin: 0 auto;
	z-index: 1;
}

.resetpassForm input[type=text], .resetpassForm input[type=password]{
	width:90%;
	height:2em;
	border:none;
	text-indent: 0.3em;
}

.resetpassForm #adminusername{
	width:90%;
	height:2em;
	border:none;
	text-indent: 0.3em;
	margin-top: 0.7em;
}

.resetpassForm input[type=submit] {
	border: none;
	border-radius:0.3em;
	height:2em;
    padding: 2px 8px;
    width:90%;
    background-color:rgb(53,160,203);
}

.resetPassForm input[type=submit]:hover {
    background-color:rgba(53,160,203,0.7);
}


/*************/
/* ENVELOPES */
/*************/
.envelopes {
	width:90%;
	min-width:100%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

/* Selects return address text */
.envelopes div:first-child {
	position:absolute;
	margin-left: 28%;
	margin-top:3%;
}

/* Selects stamp */
.envelopes img:nth-of-type(1) {
	position:absolute;
	z-index:-1;
	width:10%;
	margin-right: 27%;
	margin-left: 63%;
	margin-top: 2%;
	opacity:0.75;
}

/* Selects front envelope */
.envelopes img:nth-of-type(2) {
	position:absolute;
	z-index:-2;
	margin-right: 25%;
	margin-left: 25%;
	width:50%;
	opacity:0.95;
}

/* Selects back envelope */
.envelopes img:nth-of-type(3) {
	position:absolute;
	z-index:-3;
	margin-right: 10%;
	margin-left: 50%;
	width:40%;
	opacity:0.75;
	-webkit-transform:rotate(25deg);
}

/*!
  Adapted for piLab from:
  Theme Name: CSS-Tricks v11
  Theme URI: http://css-tricks.com/
  Description: The Theme for CSS-Tricks dude.
  Author: Chris Coyier
  Version: 11
  License: GNU General Public License v2 or later
  License URI: http://www.gnu.org/licenses/gpl-2.0.html
  Tags: orange, css
*/
nav {
    font-size: 17px;
    line-height: 1.5;
    padding-top:0.5em;
    padding:1em;
}



.hide {
    display: none
}

@media screen {
    *, *::after, *::before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

    a {
        text-decoration: none
    }
}

@media screen {
    .main-nav {
        font-size: 0;
        position: relative
    }

    .main-nav a {
        display: inline-block;
        position: relative;
        width: 200px;
        height: 50px;
        color: #444;
        font-family: 'Gotham Rounded A', 'Gotham Rounded B', sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1rem;
        text-transform: uppercase;
        margin: 0 0 0 -50px
    }

    /* Tab 1 */
    .main-nav a.tab1 {
        margin-left: 0;
        z-index: 100
    }

    /* Tab 1 */
    .main-nav a.tab1 svg {
        fill: #e18728
    }

    /* Tab 1 */
    .main-nav a.tab1:hover svg, .main-nav a.tab1:active svg {
        fill: #d27a1d
    }
}

@media screen {
    /* Tab 2 */
    .main-nav a.tab2 {
        z-index: 90
    }

    /* Tab 2 */
    .main-nav a.tab2 svg {
        fill: #be4c39
    }

    /* Tab 2 */
    .main-nav a.tab2:hover svg, .main-nav a.tab2:active svg {
        fill: #a43
    }
}

@media screen {
    /* Tab 2 */
    .tab2 .main-nav a.tab2 {
        z-index: 200
    }

    /* Tab 3 */
    .main-nav a.tab3 {
        z-index: 80
    }

    /* Tab 3 */
    .main-nav a.tab3 svg {
        fill: #9351a6
    }

    /* Tab 3 */
    .main-nav a.tab3:hover svg, .main-nav a.tab3:active svg {
        fill: #844995
    }
}

@media screen {
    /* Tab 3 */
    .tab3 .main-nav a.tab3 {
        z-index: 200
    }

    /* Tab 4 */
    .main-nav a.tab4 {
        z-index: 70
    }

    /* Tab 4 */
    .main-nav a.tab4 svg {
        fill: #4472b9
    }

    /* Tab 4 */
    .main-nav a.tab4:hover svg, .main-nav a.tab4:active svg {
        fill: #3d67a6
    }
}

@media screen and (max-width: 1081px) {
    /* Controls hover effects */
    .main-nav a.tab1:hover, .main-nav a.tab1:active {
        background: #d27a1d
    }

    .main-nav a.tab2:hover, .main-nav a.tab2:active {
        background: #a43
    }

    .main-nav a.tab3:hover, .main-nav a.tab3:active {
        background: #844995
    }

    .main-nav a.tab4:hover, .main-nav a.tab4:active {
        background: #3d67a6
    }

    .main-nav a.tab5:hover, .main-nav a.tab5:active {
        background: #44934b
    }

    .main-nav a.rightTab:hover, .main-nav a.rightTab:active {
        background: #e1e1e1
    }
}

@media screen {
    /* Tab 4 */
     .tab4 .main-nav a.tab4 {
        z-index: 200
    }

    /* Tab 5 */
    .main-nav a.tab5 {
        z-index: 60
    }

    /* Tab 5 */
    .main-nav a.tab5 svg {
        fill: #4ca454
    }

    /* Tab 5 */
    .main-nav a.tab5:hover svg, .main-nav a.tab5:active svg {
        fill: #44934b
    }
}

@media screen {
    /* Tab 5 */
    .bbpress .main-nav a.tab5 {
        z-index: 200
    }

    /* Right Tab */
    .main-nav a.rightTab {
        position: absolute;
        right: 0;
        bottom: 10px;
        width: 250px;
        height: 62.5px;
        z-index: 60;
        font-size: 1rem;
        margin: 0
    }

    /* Right Tab */
    .main-nav a.rightTab span {
        color: #222;
        text-shadow: none;
        padding: 21px 0 0 45px
    }

    /* Right Tab */
    .main-nav a.rightTab span em {
        font-style: normal
    }
}

@media screen {
    /* Right Tab */
    .main-nav a.rightTab svg, nav.rightTab .main-nav a.rightTab svg {
        fill: #eee
    }

    /* Right Tab */
    .main-nav a.rightTab:hover svg, .main-nav a.rightTab:active svg {
        fill: #e1e1e1
    }
}

@media screen {
    /* Right Tab */
    .rightTab .main-nav a.rightTab {
        z-index: 200
    }

    .main-nav a .shape-tab {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }

    .main-nav a span {
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        padding: 15px 40px 0 0;
        text-align: center;
        text-shadow: 0 0 7px rgba(0, 0, 0, 0.4)
    }

    .main-nav:after {
        content: "";
        display: block;
        height: 10px;
        background: #ccc
    }

    /* Controls bottom highlight bar for current page */
    .tab1 .main-nav:after, .single .main-nav:after {
        background: #e18728
    }

    .tab2 .main-nav:after {
        background: #be4c39
    }

    .tab3 .main-nav:after  {
        background: #9351a6
    }

    .tab4 .main-nav:after {
        background: #4472b9
    }

    /* Remove? */
    .bbpress .main-nav:after {
        background: #4ca454
    }
}

/* Medium screen and smaller */
@media screen and (max-width: 1081px) {
    .main-nav a {
        font-size: 0;
        width: 16.66667% !important;
        height: auto !important;
        margin: 0;
        text-align: center;
        padding: 10px 2px;
    }

    .main-nav a svg {
        display: none
    }

    .main-nav a span {
        font-size: 0.8rem;
        position: static;
        display: inline;
        padding: 0 !important
    }

    /* Tab 1 */
    .main-nav a.tab1 {
        background: #e18728
    }

    /* Tab 2 */
    .main-nav a.tab2 {
        background: #be4c39
    }

    /* Tab 3 */
    .main-nav a.tab3 {
        background: #9351a6
    }

    /* Tab 4 */
    .main-nav a.tab4 {
        background: #4472b9
    }

    /* Tab 5 */
    .main-nav a.tab5 {
        background: #4ca454
    }

    /* Right Tab */
    .main-nav a.rightTab {
        background: #eee;
        font-size: 0.8rem;
        position: static
    }
}

/* Small screen */
@media screen and (max-width: 697px) {
    .main-nav {
        width: 101%
    }

    .main-nav a {
        padding: 8px 2px;
        width: 33.33333% !important;
        /*border: 2px solid #000*/
    }

    /* Hides highlight bar under tabs */
    .main-nav:after {
        display: none
    }
}

/*************/
/* Home Page */
/*************/
.smallMargin{
	margin-left: 1%;
	margin-top: 10px;
}

.holder{
	width: 80%;
	height: 100%;
	margin-bottom: 15px;
	padding: 30px;
}

.letter{
    margin:4px 4px 4px 4px;
    padding: 10px;
    float:left;
    width:320px;
    height:158px;
    background-color:#FFFFFF;
    border: solid 2px #000000;
}

.createLetter{
	width:60%;
	margin:0 auto;
	padding: 2% 4%;
	background-color:#FFFFFF;
    border: solid 2px #000000;
}

#nameTo{
	text-align: center;
}

#clearer{
    clear:both;
}

/***************/
/* Search Page */
/***************/

.contactBox{
    margin:6px 6px 6px 6px;
    padding: 10px;
    float:left;
    width:20%;
    height:250px;
    background-color:rgb(232,81,81);
    border: solid 4px #000000;
    border-radius: 2em;
}

div.contactBox div.name {
	text-align: center;
	font-size: x-large;
	font-family: 'Lato', sans-serif;
	margin: 10px;
}

div.contactBox div.title {
	text-align: center;
	font-size: large;
	font-family: 'Lato', sans-serif;
	margin-top: 10px;
}

div.contactBox div.content {
	text-align: center;
	font-size: medium;
	font-family: 'Raleway', sans-serif;
	margin-top: 5px;
}

div.contactBox form{
	text-align: center;
	margin: 10px;
}

.contactBox button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #86d956), color-stop(1, #65cb2e) );
	background:-moz-linear-gradient( center top, #86d956 5%, #65cb2e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#86d956', endColorstr='#65cb2e');
	border-radius: 0.7em;
	border:2px solid #000000;
	font-family: Raleway;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	height:33px;
	width:85%;
	text-decoration:none;
	text-align:center;
}
.contactBox button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #65cb2e), color-stop(1, #86d956) );
	background:-moz-linear-gradient( center top, #65cb2e 5%, #86d956 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#65cb2e', endColorstr='#86d956');
	background-color:#65cb2e;
}.contactBox button:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */


/**********************/
/* Create Letter Page */
/**********************/
.createLetter p.date{
	float: right;
}

.createLetter div.submit{
	text-align: center;
}

.letterForm input[type=submit] {
	border: none;
	border-radius:0.3em;
	height:2em;
    padding: 2px 8px;
    width:40%;
    background-color:rgb(53,160,203);
}

.letterForm input[type=submit]:hover {
    background-color:rgba(53,160,203,0.7);
}

#message{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	border: 2px solid #999;
}

.createLetter{
	border: 15px solid;
}
